@charset "utf-8";
/* CSS Document */

*{
	font-family:Arial, Helvertica,sans-serif;
	font:solid #3b3b3b;
}

label {
	font: "sans-serif";
	font-size: 15px;
	color: #3b3b3b;
	display:block;
	margin-bottom: 5px;
	padding-top: 20px;
	font-weight: bold;
}

fieldset {
	background-color: orange;
	border: solid;
	border-color: #3b3b3b;
	border-width: 3px 3px 3px 3px;
	padding: 0px 30px 0px 30px;
	position:relative;
	width:400px;
	margin:15px auto;
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

fieldset button {
	border-radius: 20px;
	background-color: #ecf7fc;
	border: solid#06F;
	color: #3b3b3b;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
  	padding: 5px;
  	width: 250px;
  	cursor: pointer;
  	margin: 0px 15%;
	box-shadow: red;
	margin-top: 20px;
	margin-bottom: 20px;
}

fieldset input{
	width: 100%;
	height: 25px;
}

.error{
	color: red;
	padding-top: 30px;
	font-style: italic;
	font-size: 10px;
	position: absolute;
}
