body{
  font-family: sans-serif;
  background: #FFFFFC;
}

img{
  width: 300px;
}

li{
  display: inline;
}

.item{
  background: #42858C;
  text-decoration: none;
  padding: 18px;
  border-style: solid;
  border-width: medium;
  color: white;
}

.desc{
  margin: 30px 250px;
  text-align: justify;
}



.card img{
  padding: 3px;
  margin-top: 5px;
  width: 280px;

}

 .card{
   width: 300px;
   text-align: center;
   float: left;
   margin: 10px;
   border-style: ridge;
   border-radius: 5px;
   margin-bottom: 100px;
   box-shadow: 5px 10px #888888;
 }

 .collapsible {
  background-color: #42858C;
  color: white;
  cursor: point;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.content {
  color: #35393C
  padding: 0 17px;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#hcontent {
    display:none;
    width: 265px;
    margin: none;
    color: black;
}

#bhover {
  width: 265px;

}
#bhover:hover #hcontent {
    display:block;
}